{% extends 'base.html' %}
{% block banner %}Insights{% endblock %}
{% block page_name %}Insights{% endblock %}
{% block head %}
<!-- <script src="{{ url_for('static', filename='js/index.js') }}" defer></script> -->
{% endblock %}
{% block content %}
<div>
  <div class="tabs left-align">
    <a data-ui="#stats" class="active">Stats</a>
    <a data-ui="#reports">Reports</a>
  </div>
  <div id="stats" class="page padding active">
    <table class="stripes">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for (key, value) in stats %}
        <tr>
          <td>
            {{ key }}
          </td>
          <td>
            {{ value }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>

  </div>
  <div id="reports" class="page padding">
    <h5>Reports</h5>
  </div>
</div>
{% endblock %}