{% extends 'base.html' %}
{% block page_name %}Runs{% endblock %}
{% block banner %}Runs{% endblock %}
{% block head %}
<script src="{{ url_for('static', filename='js/runs.js') }}" defer></script>
{% endblock %}
{% block content %}
<div class="row margin">
  <h2 class="max"></h2>
  <a href="/runs/new">
    <button class="extra">
      <i>add_circle</i>
      <span>Log New Run</span>
    </button>
  </a>
</div>
<div class="grid">
  <div class="s12">
    {% for run in runs %}
    <details data-id="{{ run['id'] }}">
      <summary class="none">
        <a class="row padding surface-container wave margin-vertical">
          <button class="circle">{{run["distance"]}}</button>
          <div class="max">
            <h6 class="small">{{run["route_name"]}}</h6>
            <div>{{format_run_date(run["date"])}}</div>
          </div>
          <label>{{format_run_time(run["time"])}}</label>
        </a>
      </summary>
      <article class="margin secondary-container">
        <div class="row margin">
          <h3 class="max">
            {{ run['route_name'] }}
          </h3>
          <nav class="no-space">
            <a href="/runs/{{ run['id'] }}">
              <button class="border left-round max large no-margin">
                <!-- <i class="small">check</i> -->
                <span>Details</span>
              </button>
            </a>
            <!-- <button class="border no-round max large">
              <i class="small">check</i>
              <span>Button</span>
            </button> -->
            <a href="/insights/runs/{{ run['id'] }}">
              <button class="border right-round max large no-margin">
                <!-- <i class="small">check</i> -->
                <span>Insights</span>
              </button>
            </a>
          </nav>
        </div>
        <div class="">

        </div>
        <div class="grid">
          <div class="s6 center-align split-container">
            <progress class="circle small"></progress>

          </div>
          <div class="s6 center-align overview-container">
            <progress class="circle small"></progress>

          </div>
        </div>
      </article>
    </details>
    {% endfor %}
  </div>

</div>
{% endblock %}